.container-login{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout{
    position: absolute;
    bottom: 20px;
    right: 10px;
}