<!-- <app-header/>
<router-outlet /> -->

<div class="row m-0 justify-content-center">
    <div class="col-md-8 p-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Rifa solidária da Brenda</mat-card-title>
                    <mat-card-subtitle>Data do sorteio: 05/05/2024 ás 16:00h</mat-card-subtitle>
                    <mat-card-subtitle>Sorteio de um PIX no valor de 200 reais</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>

            <mat-card-content>
                <div class="container-default">
                    <h3 class="p-0 m-0">Parabéns a Rosemere/Epifaneo, seu número 142 foi o sorteado !!! </h3>
                    <p>Entraremos em contato para envio da premiação.</p>

                    <div class="animation">
                        <ng-lottie [options]="options" />
                    </div>
                    <p>Assista o video do sorteio</p>
                    <video width="300" src="../assets/videoganhador.mp4" controls></video>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>