<div class="row m-0 justify-content-center">
    <div class="col-md-8 p-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>Rifa solidária da Brenda</mat-card-title>
                  <mat-card-subtitle>Data do sorteio: 05/05/2024 ás 16:00h</mat-card-subtitle>
                  <mat-card-subtitle>Sorteio de um PIX no valor de 200 reais</mat-card-subtitle>
                </mat-card-title-group>
              </mat-card-header>

            <mat-card-content>
                <h3 class="p-0 m-0">Valor: R$10,00 cada número</h3>
            </mat-card-content>
          </mat-card>
          <mat-card class="my-2">
            <mat-card-content >
                <div class="d-flex justify-content-between  align-items-center">
                    <div>
                        <h3 class="p-0 m-0">CHAVE PIX: {{chavePix}}</h3>
                        <p>Nubank - Brenda K M Tavares</p>
                    </div>
                    <button mat-flat-button (click)="core.showMessage('PIX copiado com sucesso.')" [cdkCopyToClipboard]="chavePix"   color="primary">Copiar PIX</button>
                </div>

            </mat-card-content>
          </mat-card>

        <mat-tab-group backgroundColor="primary" color="primary">
            <mat-tab label="Números Rifa">
                <app-list-nums/>
            </mat-tab>
            <mat-tab label="Motivação" >
                <div class="p-3">
                    <h1>🌟 Ajude-me a Realizar Meu Sonho de Estudos! 🌟</h1>
    
                    <p>Olá a todos,</p>
    
                    <p>É com grande entusiasmo que estou buscando o apoio de vocês para alcançar um objetivo muito
                        importante para mim. Meu nome é Brenda, e estou em uma jornada para realizar um sonho que tem um
                        significado imenso em minha vida.</p>
    
                    <p>Estou planejando uma viagem de estudos que abrirá portas para novos conhecimentos, experiências e
                        oportunidades de crescimento pessoal. No entanto, para tornar isso realidade, preciso da colaboração
                        de amigos, familiares e pessoas generosas como você.</p>
    
                    <p>Estou lançando uma rifa solidária, onde você pode contribuir adquirindo um número por apenas 10
                        reais. Ao participar, você não apenas estará me ajudando a chegar mais perto do meu sonho, mas
                        também terá a chance de ganhar um prêmio incrível.</p>
    
                    <p>Cada número comprado é um passo em direção ao meu objetivo e cada contribuição, por menor que pareça,
                        faz uma enorme diferença. Com sua ajuda, tenho certeza de que poderei alcançar e até mesmo superar
                        minhas metas.</p>
    
                    <p>Por favor, considere apoiar minha jornada comprando um número da rifa. Sua generosidade significa o
                        mundo para mim e tenho imensa gratidão por todo o apoio que receber.</p>
    
                    <p>Obrigada por lerem e por fazerem parte deste capítulo importante da minha vida.</p>
    
                    <p>Com amor e gratidão,
                        <br>Brenda
                    </p>

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>